@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?yal2ub");
  src: url("../fonts/icomoon.eot?yal2ub#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?yal2ub") format("truetype"),
    url("../fonts/icomoon.woff?yal2ub") format("woff"),
    url("../fonts/icomoon.svg?yal2ub#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
}
