/* START GLOBAL */
*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product__details .details__bottom .add-product,
.product__details .details__bottom .quantity-adjust .fa-solid,
#cart-details .cart__item .quantity-adjust .fa-solid,
#cart-details .cart__item .item__delete {
  cursor: pointer;
}
.btn:hover {
  color: #fff;
}
.btn-product {
  background: linear-gradient(to right, #ff9d00, #ff0000);
  border: transparent;
  border-radius: 18px;
  color: white;
  font-weight: 600;
}
.price-highlight {
  color: #ff0000;
  font-weight: 700;
}
.gradient-text {
  background: linear-gradient(to right, #ff9d00, #ff0000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.overlay-slash {
  position: relative;
  overflow: hidden;
}
.overlay-slash::before {
  content: "";
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.3)
  );
  height: 100%;
  width: 50%;
  transform: skewX(-25deg);
  position: absolute;
  top: 0;
  left: -85%;
  transition: 0.5s;
}
.overlay-slash:hover::before {
  left: 130%;
}
/* END GLOBAL */

/* START HEADER */
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__header .header__brand {
  width: 240px;
}
.app__header .header__brand select,
.app__header .header__brand select option {
  font-weight: 600;
}
.app__header .header__brand select {
  height: calc(3.5rem + 6px);
  line-height: 1.5;
}
.app__header .header__brand select:focus {
  border-color: rgb(253, 49, 13);
  box-shadow: 0 0 0 0.25rem rgba(253, 45, 13, 0.25);
}
.app__header .header__brand select option:hover {
  background-color: #ff0000;
}
.app__header .header__cart {
  position: relative;
}

#btnCart {
  cursor: pointer;
  position: relative;
}

#btnCart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: translate(-20%, -30%);
  border-radius: 50%;
  border: 2px solid #000;
}

#btnCart .icon-cart {
  font-size: 30px;
  vertical-align: middle;
}
.app__header .header__cart .cart__number {
  height: 1.3rem;
  width: 1.3rem;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -100%);
  background: linear-gradient(to right, #ff9d00, #ff0000);
  border-radius: 50%;
  font-size: 0.8rem;
}
#cart-item-number {
  padding: 2px;
  line-height: 1;
  color: #fff;
  font-weight: 600;
}
/* END HEADER */

/* START PRODUCT DETAILS */
.product .product__content {
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.product__img-container img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}
.product__img-container span {
  position: absolute;
}
.product__details .details__bottom .add-product {
  border-radius: 15px;
  transition: all 0.5s;
}
.product__details .details__bottom .add-product:hover {
  transform: scale(1.2);
}
/* END PRODUCT DETAILS */

/* START CART MODAL */
#cart-details .cart__item {
  align-items: center;
}
#cart-details .cart__item img {
  width: 100%;
  max-height: 80px;
  object-fit: contain;
}
#total-payment {
  font-size: 1.1rem;
}
/* END CART MODAL DETAILS */

/* START ORDER MODAL DETAILS */
#order-details .table tbody .total-payment td {
  border-bottom-width: 0;
  font-size: 1.2rem;
  font-weight: 700;
}
/* END ORDER MODAL DETAILS */

/* START SUCCESSED ORDER MODAL */
.order-successed-icon {
  font-size: 3rem;
}

/* START SUCCESSED ORDER MODAL */

@media screen and (min-width: 768px) {
  .modal-dialog {
    max-width: 720px;
  }
  #cart-details .cart__item {
    font-size: 1.2rem;
  }
  #total-payment {
    font-size: 1.3rem;
  }
  #thanh-toan,
  #btn-order {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .modal-dialog {
    max-width: 960px;
  }
}
